
@*  @{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Live_ConsultingKSP.Models.> *@
@section Stylecss {
    <style>

        /* .overlay {
            display: none; 
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); 
            z-index: 9999;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            font-size: 24px;
            font-weight: bold;
            display: flex; 
        }

        .overlay-content {
            background-color: rgba(0, 0, 0, 0.7);
            padding: 20px;
            border-radius: 5px;
            position: relative; 
            max-width: 90%; 
            max-height: 90%;
            box-sizing: border-box; 
        } */
         .salesorder {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
        }

        .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: #38454a;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 20;
            top: 30px;
            right: 0px;
        }

        .salesorder:hover .tooltiptext {
            visibility: visible;
        }
    </style>
} 
<div class="page-content">
    <div class="container-fluid">


        <!--end row-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card" id="CardData">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-8">
                                <h5 class="card-title mb-0">View Sales Invoice</h5>
                            </div>
                            <!--<div class="col-md-1">
                                <i class="bx bxs-pin float-end custom-icon-color"></i>
                            </div>-->
                            <div class="col-md-4">
                                <a><i class="bx bxs-pin float-end custom-icon-color"></i></a>
                                <a id="AnchorAdd" runat="server" href="@Url.Action("AddSaleInvoice","Account")"
                                   class="btn btn-dark float-end custom-class btnAdd">
                                    Add Sales Invoice
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="buttons-datatables" class="display table table-bordered"
                                   style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>UUID</th>
                                        <th>Customer Name</th>
                                        <th>Sales Order Number</th>
                                        <th>Sales Invoice Number</th>


                                        <th> Delivery Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <a href="@Url.Action("AddSaleInvoice","Account")">821aea56-3e4d-4c23-b580-1957e3038875</a>
                                        </td>
                                        <td> KSP</td>
                                        <td> OR.002</td>
                                        <td> SIn120</td>



                                        <td> 15-12-24</td>
                                        <td>
                                            <a id="AnchorAdd" runat="server" href="#"
                                               class="btn btn-sm btn-outline-dark ">
                                                <i class="ri-delete-bin-fill"></i>
                                            </a>

                                            <a id="AnchorAdd" runat="server" href="@Url.Action("PDF_tax_invoice","Account")" target="_blank"
                                               class="btn btn-sm btn-outline-dark salesorder">
                                                <i class="ri-download-2-fill"></i>
                                                <span class="tooltiptext">Download Sales Invoice</span>
                                            </a>

                                            <a id="AnchorAdd1" runat="server"
                                               class="btn btn-sm btn-outline-dark salesorder">
                                                <i class=" ri-chat-upload-line"></i>
                                                <span class="tooltiptext">Update Payment Status</span>
                                            </a>
                                            <a id="AnchorAdd" runat="server" href="@Url.Action("PDF_packing_slip","Account")" target="_blank"
                                               class="btn btn-sm btn-outline-dark salesorder">
                                                <i class="ri-chat-forward-line"></i>
                                                <span class="tooltiptext">Packing Slip</span>
                                            </a>
                                            <a id="AnchorAdd" runat="server" href="@Url.Action("PDF_delievery_note","Account")" target="_blank"
                                               class="btn btn-sm btn-outline-dark salesorder">
                                                <i class=" ri-sticky-note-fill"></i>
                                                <span class="tooltiptext">Delievery Note</span>
                                            </a>
                                            <a id="AnchorAdd" runat="server" href="@Url.Action("PDF_proforma_invoice","Account")" target="_blank"
                                               class="btn btn-sm btn-outline-dark salesorder">
                                                <i class="ri-folder-shared-fill"></i>
                                                <span class="tooltiptext">Generate Perfoma Invoice</span>
                                            </a>
                                            <div class="card-body">
                                                <div class="live-preview">
                                                    <div>
                                                        <!-- Modal flip -->
                                                        <div id="flipModal" class="modal fade flip" tabindex="-1" aria-labelledby="flipModalLabel" aria-hidden="true" style="display: none;">
                                                            <div class="modal-dialog modal-dialog-centered">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="row gx-3 gy-2 align-items-center">
                                                                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                                                                <label class="form-label">Customer Name<span class="start-lable" style="color: red">*</span></label>

                                                                                <select class="form-select2 js-example-basic-single" data-choices data-choices-sorting="true" id="subparent">
                                                                                    <option selected>- Select Name -</option>
                                                                                    <option value="1">
                                                                                        Customer Name
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                                                                <label class="form-label">Payment Date<span class="start-lable" style="color: red">*</span></label>
                                                                                <input type="date" class="form-control" placeholder="eg.">
                                                                            </div>
                                                                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                                                                <label class="form-label">Amount<span class="start-lable" style="color: red">*</span></label>
                                                                                <input type="text" class="form-control" placeholder="eg." disabled>
                                                                            </div>
                                                                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                                                                <label class="form-label">Upload Document<span class="start-lable" style="color: red">*</span></label>
                                                                                <input type="file" class="form-control" placeholder="eg.">
                                                                            </div>
                                                                            <div class="col-lg-12 col-sm-6 col-xs-12">
                                                                                <label class="form-label">Remark<span class="start-lable" style="color: red">*</span></label>
                                                                                <textarea type="text" class="form-control" placeholder="eg."></textarea>
                                                                            </div>
                                                                            <!--end col-->
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                                                        <button type="button" class="btn btn-primary ">Submit</button>
                                                                    </div>
                                                                </div><!-- /.modal-content -->
                                                            </div><!-- /.modal-dialog -->
                                                        </div><!-- /.modal -->

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                  <div class="card" id="CardAccessDenied" style="display:none">
                    <div class="w3-display-middle" style="margin-top:100px;">
                        <h1 class="w3-jumbo w3-animate-top w3-center"><span style="color:#38454a">Access Denied</span></h1>
                        <hr class="w3-border-white w3-animate-left" style="margin:auto;width:50%">
                        <h3 class="w3-center w3-animate-right">You don't have Rights to Access this Page</h3>
                        <h3 class="w3-center w3-animate-right">Kindly Contact Administrative</h3>
                        <h3 class="w3-center w3-animate-zoom">🚫🚫🚫🚫</h3>
                        <h6 class="w3-center w3-animate-zoom">error code:403 forbidden</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- container-fluid -->
</div>

@* <div id="overlay" class="overlay">
    <div class="overlay-content">Please Wait...</div>
</div> *@
<!-- JAVASCRIPT -->
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/libs/feather-icons/feather.min.js"></script>
    <script src="~/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="~/assets/js/plugins.js"></script>

    <!-- list.js min js -->
    <script src="~/assets/libs/list.js/list.min.js"></script>

    <!--list pagination js-->
    <script src="~/assets/libs/list.pagination.js/list.pagination.min.js"></script>

    <!-- titcket init js -->
    <script src="~/assets/js/pages/tasks-list.init.js"></script>

    <!-- Sweet Alerts js -->
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>


    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/assets/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/js/jszip.min.js"></script>
    <!--<script src="assets/js/pdfmake.min.js"></script>
    <script src="assets/js/vfs_fonts.js"></script>
    <script src="assets/js/buttons.html5.min.js"></script>
    <script src="assets/js/buttons.print.min.js"></script>-->
      <script src="~/assets/js/select2.min.js"></script>

    <script src="~/assets/js/pages/select2.init.js"></script>
    
    <script>
        $(document).ready(function () {
            $('#buttons-datatables').DataTable({
                //dom: 'Bfrtip',
                //responsive: true,
                //buttons: [
                //    'copy', 'csv', 'excel', 'pdf', 'print'
                //]
            });
              
            $("#AnchorAdd1").click(function () {
                debugger;
                $('#flipModal').modal('show');
                $('#PaymentType1').select2();
              
            });
        });
    </script>